body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: $primary-sans-serif;
    }

::selection {
    color: #000;
    background: $tertiary-color;
    }
    
a {
    text-decoration: none;
    }

a, a:visited {
    color: inherit;
    }

a:hover, a:focus {
    color: $tertiary-color;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }

*:focus {
    outline: $tertiary-color solid 2px;
}

*:visited {}

html {
    scroll-behavior: smooth;
  }

a[title]:hover::after {
    content: attr(title);
    opacity: 1;
    transition: all 0.1s ease 0.3s;
    visibility: visible;
}

a[title]:after {
    content: attr(title);
    color: $tertiary-color;
    position: absolute;
    bottom: -1rem;
    left: 100%;
    z-index: 100;
    white-space: nowrap;
    border: solid 1px;
    padding: 5px;
    font-family: $primary-sans-serif;
    font-size: 0.7rem;
    opacity: 0;
    visibility: hidden;
}
[title] {
    position: relative;
}