body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: $primary-sans-serif;
    }
    
a {
        text-decoration: none;
    }

a:hover {
    color: $tertiary-color;
}

* {
        box-sizing: border-box;
    }