body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: $primary-sans-serif;
    }

::selection {
    color: #000;
    background: $tertiary-color;
    }
    
a {
    text-decoration: none;
    }

a, a:visited {
    color: inherit;
    }

a:hover, a:focus {
    color: $tertiary-color;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }

*:focus {
    outline: $tertiary-color solid 2px;
}

*:visited {}

html {
    scroll-behavior: smooth;
  }

a[title]:hover::after {
    color: $tertiary-color;
    border: none;
}