/****** Submit button ***********/


.button-search{
    padding: 16px 25px;
    color: #fff;
    font-weight: bold;
    background: $gradient;
    border-radius: 25px;
    border: none;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.button-search:hover, 
.button-search:focus {
    background-color: $gradient-hover;
    transition: background-image 0.5s linear;
}