/****** Submit button ***********/


.button-search{
    padding: 16px 25px;
    color: #fff;
    font-weight: bold;
    background: $gradient;
    border-radius: 25px;
    border: none;
    justify-content: center;
    box-shadow: 0 5px 0 15px rgba($color: #000000, $alpha: 0.2);
    //transition: all 0.5s ease-out;
}

.button-search:hover, 
.button-search:focus {
    filter: brightness(105%);
    box-shadow: 0 5px 0 15px rgba($color: #000000, $alpha: 0.8);

}