/****** Submit button ***********/

.button{
    padding: 16px 25px;
    color: #fff;
    font-weight: bold;
    background: $gradient;
    border-radius: 25px;
    border: none;
    justify-content: center;
    box-shadow: 0 8px 15px 0 rgba($color: #000000, $alpha: 0.2);
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.button:hover, 
.button:focus {
    filter: brightness(115%);
    //color: $tertiary-color;
    box-shadow: 0 8px 15px 0 rgba($color: #7E7E7E, $alpha: 0.8);
}

.button{
    padding: 16px 75px;
    color: #fff;
    font-weight: bold;
    background: $gradient;
    border-radius: 25px;
    border: none;
    justify-content: center;
    box-shadow: 0 8px 15px 0 rgba($color: #000000, $alpha: 0.2);
    transition: all 0.5s ease-out;
    cursor: pointer;
}
