.footer {
    background-color: $octonary-color;
    color: #fff;
    padding: 15px 25px;
}

.footer-logo {
    color: #fff;
    font-family: $primary-serif;
    font-size: 25px;
    margin: 0;
}

.footer a {
    color: #fff;
}

.footer-ico {
    width: 30px;
}

.ico-resize {
    font-size: 13px;
}