.list-group {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.numbered {
    list-style-type: none;
    counter-reset: section;
}

