    $primary-color: #9356DC; // button, badge, icon hover
    $secondary-color: #FF79DA; // button gradient
    $tertiary-color: #99E2D0; // elements hue
    $quaternary-color: #008766; // badge font
    $quinary-color: #7E7E7E; // icons
    $senary-color: #F6F6F6; // background hue (off-white)
    $septenary-color: #EAEAEA; // form field background
    $octonary-color: #353535; // footer

