    $primary-color: #9356DC; // button, badge, icon hover
    $secondary-color: #FF79DA; // button gradient
    $tertiary-color: #99E2D0; // element hue
    $quaternary-color: #008766; // badge font
    $quinary-color: #7E7E7E; // icons
    $senary-color: #F6F6F6; // background hue (off-white)
    $septenary-color: #EAEAEA; // form field background
    $octonary-color: #353535; // footer

    $gradient: linear-gradient(-20deg, #9356DC, #FF79DA);
    $gradient-hover: linear-gradient(60deg, #9356DC, #FF79DA);

    $primary-sans-serif: "Roboto", sans-serif;
    $primary-serif: "Shrikhand", serif;
    
