    $primary-color: #9356DC; // badges/icons hover
    $secondary-color: #FF79DA; // 
    $tertiary-color: #99E2D0; // elements hue
    $quaternary-color: #008766; // font
    $quinary-color: #7E7E7E; // icons
    $senary-color: #F6F6F6; // background hue (off-white)
    $septenary-color: #EAEAEA; // form field background
    $octanary-color: #353535;

