    $primary-color: #9356DC;
    $secondary-color: #FF79DA;
    $tertiary-color: #99E2D0;
    $quaternary-color: #008766;
    $quinary-color: #F6F6F6;
    $senary-color: #EAEAEA;
    $septenary-color: #353535;

