/****** General ***********/

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}

body {
margin: 0;
padding: 0;
}

/****** Logo ***********/


/****** Header ***********/


/****** Starters ***********/


/****** Mains ***********/


/****** Deserts ***********/


/****** Button ***********/

.btn {
    background-color: var(--primary-color);
}

/****** Label ***********/


/****** Icon ***********/


/****** Footer ***********/

