/****** General ***********/

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}

body {
margin: 0;
padding: 0;
}

/****** Header ***********/

/****** Logo ***********/

/****** Search bar ***********/

/****** Headline ***********/

/****** Logo ***********/

/****** How it works ***********/

.no-icon {
    background: #fff;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 5px;
}

/****** Starters ***********/


/****** Mains ***********/


/****** Deserts ***********/


/****** Button ***********/

.btn {
    background-color: var(--primary-color);
}

/****** Label ***********/


/****** Icon ***********/


/****** Footer ***********/

