/****** General ***********/

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}

body {
margin: 0;
padding: 0;
color: #000;
}

a {
    text-decoration: none;
}
/****** Header ***********/

/****** Logo ***********/

/****** Search bar ***********/

.search-bar {
    display: flex;
}

.icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0; 

}

.input-search {
    display: flex;
    border-width: 0;
    border-style: none;  
    padding: 0 24px;  
    font-weight: bold;
    font-size: 18px;
}
.input-search:focus {
    outline: none;
}

/****** Headline ***********/

.headline {
    font-family: "Shrikhand", sans-serif;
}


/****** Submit button ***********/

.button-search{
    padding: 16px 25px;
    color: #fff;
    font-weight: bold;
    background-color: var(--secondary-color);
    border-radius: 25px;
    border: none;
    justify-content: center;
}

.button-search:hover {


    background-color: var(--secondary-color);
    border-radius: 0 15px 15px 0px;
    border: none;
}

/****** How it works ***********/

.card-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    padding: 16px 25px;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 16px 25px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 255, .2);
    font: 0.9rem "Roboto", sans-serif;
    color: #000;
    justify-content: center;
    align-items: center;
}

.icon-pic {
    display: flex;
    flex-direction: row;
    background: none;
    color: grey;
    width: 35px;
    height: 35px;
    padding: 15px;
    flex-shrink: 0; 
}

.icon-pic:hover {
    color: var(--primary-color);
}

.icon-no {
    position: absolute;

    background: var(--primary-color);
    border-radius: 50%;
    border: none;
    font: 0.9rem "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 5px;
    flex-shrink: 0; 
}

/****** Starters ***********/


/****** Mains ***********/


/****** Deserts ***********/


/****** Button ***********/

.btn {
    background-color: var(--primary-color);
}

/****** Label ***********/


/****** Icon ***********/


/****** Footer ***********/

