/****** General ***********/

@import "variables";
@import "base";
@import "list-group";
@import "card";
@import "button";




/****** Header ***********/

/****** Logo ***********/

/****** Search bar ***********/

.search-bar {
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
}

.icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0; 

}

.input-search {
    display: flex;
    border-width: 0;
    border-style: none;  
    padding: 0 24px;  
    font-weight: bold;
    font-size: 18px;
    background-color: #EAEAEA;
}
.input-search:focus {
    outline: none;
}

/****** Headline ***********/

.headline {
    font-family: "Shrikhand", sans-serif;
}


/****** Submit button ***********/



/****** How it works ***********/

.icon-pic {
    display: inline-flex;
    background: none;
    color: grey;
    width: 20px;
    height: 20px;
    padding: 15px;
    flex-shrink: 0; 
}

.icon-pic:hover {
    color: $primary-color;
}

.icon-no {
    position: absolute;

    background: $primary-color;
    border-radius: 50%;
    border: none;
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 5px;
    flex-shrink: 0; 
}

/****** Restaurants ***********/

.heart {
    position: relative; 
    display:inline-block;
    height: 24px;
    width: 24px;
}

.heart-icon {
    position: absolute;
    display: inline-block;
    height: 24px;
    width: 24px;
    color: $primary-color;
}

.heart-empty {
    transition: opacity 1s;
    opacity: 1;
}

.heart-full {
    transition: opacity 1s;
    opacity: 0;
    background-image: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.heart:hover .heart-full {
    opacity: 1;
}

.heart:hover .heart-empty {
    opacity: 0;
}

/****** Starters ***********/


/****** Mains ***********/


/****** Deserts ***********/


/****** Button ***********/

.btn {
    background-color: $primary-color;
}

/****** Label ***********/


/****** Icon ***********/


/****** Footer ***********/

.footer {
    background-color: #353535;
    color: #fff;
    padding: 25px;
}


.footer-logo {
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer-ico {
    width: 30px;

}

.ico-resize {
    font-size: 15px;
}

