/****** General ***********/

@import "variables";
@import "base";
@import "footer";
@import "loader";
@import "list-group";
@import "card";
@import "button";

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.text-center {
    text-align: center;
}

.bg-dark {
    background-color: $senary-color;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

/****** Nav ***********/
.navbar {
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .5);
    position: relative;
}

/****** Logo ***********/

.logo {
    padding: 15px 0;
}
/****** Search bar ***********/

.search-bar {
    background-color: $septenary-color;
}

.icon-search {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0; 
}

.input-search {
    border-width: 0;
    border-style: none;  
    width: 159px;
    padding: 0;  
    font-weight: bold;
    font-size: 18px;
    background-color: $septenary-color;
    caret-color: $tertiary-color;
}
.input-search:focus {
    outline: none;
}

/****** Headline ***********/
.headline {
    margin-top: 0;
}

.sub-headline {
    font-weight: 300;
}

/****** How it works ***********/


/****** Restaurants ***********/

.badge {
    position: absolute;
    background: $tertiary-color
    height:2rem;
    top:1rem;
    right:1.5rem;
    width:2rem;
    text-align: center;
    line-height: 2rem;;
    font-size: 1rem;
    border-radius: 20%;
    color: $quaternary-color;
    border:1px solid blue;
}

.heart {
    position: relative; 
    display:inline-block;
    height: 24px;
    width: 24px;
    top: 10px;
    right: 15px;
}

.heart-icon {
    position: absolute;
    display: inline-block;
    height: 24px;
    width: 24px;
    color: $primary-color;
    font-size: 24px;
}

.heart-empty {
    transition: opacity 1s;
    opacity: 1;
}

.heart-full {
    transition: opacity 1s;
    opacity: 0;
    background-image: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.heart:hover .heart-full {
    opacity: 1;
}

.heart:hover .heart-empty {
    opacity: 0;
}

/****** Starters ***********/


/****** Mains ***********/


/****** Deserts ***********/


/****** Label ***********/


/****** Icon ***********/


